@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.equal-spacing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
